[Desktop Entry]
Name=Switchy
Name[ast]=Switchy
Name[bg]=Switchy
Name[ca]=Switchy
Name[ca@valencia]=Switchy
Name[cs]=Switchy
Name[da]=Switchy
Name[de]=Switchy
Name[el]=Switchy
Name[en_GB]=Switchy
Name[eo]=Switchy
Name[es]=Switchy
Name[et]=Switchy
Name[fi]=Switchy
Name[fr]=Switchy
Name[ga]=Switchy
Name[gl]=Switchy
Name[hu]=Switchy
Name[it]=Switchy
Name[ja]=Switchy
Name[kk]=Switchy
Name[km]=Switchy
Name[ko]=Switchy
Name[lv]=Switchy
Name[nb]=Switchy
Name[nds]=Switchy
Name[nl]=Switchy
Name[nn]=Switchy
Name[pa]=Switchy
Name[pl]=Switchy
Name[pt]=Switchy
Name[pt_BR]=Switchy
Name[ro]=Switchy
Name[ru]=Switchy
Name[sr]=Switchy
Name[sr@ijekavian]=Switchy
Name[sr@ijekavianlatin]=Switchy
Name[sr@latin]=Switchy
Name[sv]=Switchy
Name[tr]=Switchy
Name[uk]=Switchy
Name[x-test]=xxSwitchyxx
Name[zh_CN]=Switchy
Name[zh_TW]=Switchy
Comment=Plasma Switchy
Comment[ast]=Plasma Switchy
Comment[ca]=Plasma Switchy
Comment[ca@valencia]=Plasma Switchy
Comment[cs]=Plasma Switchy
Comment[da]=Plasma Switchy
Comment[de]=Plasma Switchy
Comment[el]=Plasma Switchy
Comment[en_GB]=Plasma Switchy
Comment[eo]=Plasma Switchy
Comment[es]=Plasma Switchy
Comment[et]=Plasma Switchy
Comment[fi]=Plasma Switchy
Comment[fr]=Plasma Switchy
Comment[ga]=Plasma Switchy
Comment[gl]=Plasma Switchy
Comment[hu]=Plasma Switchy
Comment[it]=Plasma Switchy
Comment[ja]=Plasma Switchy
Comment[kk]=Plasma Switchy
Comment[km]=ប្លាស្មា Switchy
Comment[ko]=Plasma Switchy
Comment[lv]=Plasma Switchy
Comment[nb]=Plasma Switchy
Comment[nds]=Plasma Switchy
Comment[nl]=Plasma Switchy
Comment[nn]=Plasma Switchy
Comment[pa]=ਪਲਾਜ਼ਮਾ Switchy
Comment[pl]=Plazma Switchy
Comment[pt]=Plasma Switchy
Comment[pt_BR]=Plasma Switchy
Comment[ro]=Plasma Switchy
Comment[ru]=Plasma Switchy
Comment[sr]=Плазмин Switchy
Comment[sr@ijekavian]=Плазмин Switchy
Comment[sr@ijekavianlatin]=Plasmin Switchy
Comment[sr@latin]=Plasmin Switchy
Comment[sv]=Plasma Switchy
Comment[tr]=Plasma Switchy
Comment[uk]=Плазма Switchy
Comment[x-test]=xxPlasma Switchyxx
Comment[zh_CN]=Plasma Switchy
Comment[zh_TW]=Plasma Switchy
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_switchy
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=switchy
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

